Source: octodns
Section: net
Priority: optional
Maintainer: Wheeler Law <whelderwheels613@gmail.com>
Uploaders: Wheeler Law <whelderwheels613@gmail.com>
Build-Depends: debhelper (>= 10),
               dh-golang,
               golang-any,
               golang-github-miekg-dns-dev,
               golang-golang-x-net-dev,
               golang-logrus-dev
Standards-Version: 4.1.1
Homepage: https://github.com/wheelerlaw/octodns
Vcs-Browser: https://github.com/wheelerlaw/octodns.git
Vcs-Git: https://github.com/wheelerlaw/octodns.git
XS-Go-Import-Path: github.com/wheelerlaw/octodns
Testsuite: autopkgtest-pkg-go

Package: octodns
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${shlibs:Depends},
         ${misc:Depends},
         lsb-base
Description: DNS multiplexer written in Go.
