#  This file is part of octodns.
#
#  This file is default for Debian packaging. See also
#  /etc/default/octodns for environment variables.

[Unit]
Description=DNS upstream switcher written in Go in order to purify DNS records
Documentation=https://github.com/shawn1m/octodns
After=network.target

[Service]
User=nobody
Group=nogroup
LimitNOFILE=32768
EnvironmentFile=-/etc/default/octodns
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
ExecStart=/usr/bin/octodns -c ${CONFFILE} ${DAEMON_ARGS}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
